
body {
  margin: 0;
  padding: 0;
}
.view {
  width: 100%;
  float: left;
  background: #F7F7F7;
}
#wrapper {
  width: 100%;
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  bottom: 0;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  background: url('../images/tax-demand.jpg') no-repeat;
  background-size: cover;
}
.video-container video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);

  transition: 1s opacity;
}
.video-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 2;
  color: #fff000;
}
.video-content span {
  width: 100%;
  display: block;
  letter-spacing: 1.9px;
  padding-right: 15px;
  margin-top: 20px;
  font-size: 14px;
}

.video-content h2 {
  letter-spacing: 13px;
  font-size: 70px;
  line-height: 60px;
  padding-left: 13px;
  white-space: nowrap;
  margin-top: 32px;
}
.video-content .digital {
  color: #F47B29;
  font-size: 40px;
  font-weight: bold;
}
.video-content .continue-next {
  color: #fff000;
  text-decoration: none;
  margin-top: 32px;
  display: block;
  font-size: 26px;
  padding: 20px;
  border: 1px solid #fff000;
  cursor: pointer;
}

/*start calc list page css*/
.container {
  width: 1050px;
  margin: auto;
}
#calc-list{
  text-align:center;
  margin:20px 0;
}
#calc-list li {
  width: 48%;
  display: inline-block;
  text-align: center;
  margin-right: 2%;
  background: #fff;
  margin-bottom: 2%;
  vertical-align: top;
}
#calc-list li a {
  cursor:pointer;
  text-decoration: none;
}
#calc-list li  span {
  font-size: 24px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  margin: 10px 20px;
  line-height: 1.4;
  text-align: left;
}
#calc-list li  .calc-type{
font-size: 14px;
text-transform: uppercase;
color: #4AC9E3;
font-weight: 500;
border-bottom: 2px solid transparent;
-moz-transition: 200ms;
-o-transition: 200ms;
-webkit-transition: 200ms;
transition: 200ms;
  float:left;
}
#calc-list li  .calc-type:hover{
border-color: #4AC9E3;
}
#calc-list li img {
  width: 100%;
  max-height:284px;
}
@-webkit-keyframes typing {
  from { width: 0 }
  to { width:7.3em }
}

@-moz-keyframes typing {
  from { width: 0 }
  to { width:7.3em }
}

@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

@-moz-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}


#calc-list li  .calculate-emi {
  font-size: 150%;
  width: 8.3em;
  white-space: nowrap;
  overflow: hidden;
  border-right: .1em solid black;
  -webkit-animation: typing 14s steps(23, end) infinite, /* # of steps = # of characters */ blink-caret 1s step-end infinite;
  -moz-animation: typing 14s steps(23, end) infinite, /* # of steps = # of characters */ blink-caret 1s step-end infinite;
  background: #6B68BA;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
}

/*end calc list page css*/

/*start detail page css*/
#heading {
  background: #6B68BA;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
#calc-section {
  padding: 20px 0;
}
.calc-ul li {
  width: 100%;
  margin: 40px 0;
  font-size: 16px;
  font-weight: bold;
  color: #044AA2;
}
.calc-ul li:last-child{
  margin:30px 0;
}

.calc-ul li .label,.calc-ul li .slide-input {
  width: 20%;
  display: inline-block;
  position:relative;
}
.calc-ul li .rupee:after {
  font-family: FontAwesome;
  content: "\f156";
  position: absolute;
  right: 4px;
  top:10px;
}
.calc-ul li .percentage:after {
  font-family: FontAwesome;
  content:  "\f295";
  position: absolute;
  right: 0px;
  top:10px;
}
.calc-ul li .year:after {
  content:  "yr";
  position: absolute;
  right: 0px;
  top:10px;
  font-weight: 700;
}
.calc-ul li .slide-bar {
  width: 57%;
  display: inline-block;
  position:relative;
  margin-left:2%;
}
.calc-ul li .slide-bar .ui-slider-horizontal.ui-slider-pips{
  margin-bottom:0;
}
.calc-ul li strong {
  font-size: 12px;
  margin: 0 8px;
}
.calc-ul li span input {
  border: 1px solid #ee4509;
  background: none repeat scroll 0% 0% #edeceb;
  box-shadow: 1px 1px 4px rgb(244, 244, 244) inset;
  font-size: 13px;
  padding: 8px;
  color: #666666;
  font-weight: bold;
  border-radius: 4px;
}
.values-div .emi-text {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  padding:20px;
  border: 1px solid #6B68BA;
}
.values-div .emi-value {
  text-align: center;
  color: #6B68BA;
  font-size: 30px;
  vertical-align: middle;
  width: 100%;
  display: block;
  padding:20px;
  border: 1px solid #6B68BA;
}
.values-div .emi-value i {
  margin: 0 10px;
  font-size: 25px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
  border-bottom-right-radius: 2px;
  background: #fff;
  border: 2px solid #6B68BA;
  border-radius: 6px;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
  background: #6B68BA;
  border-radius: 4px;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  border-radius: 50%;
  background: #6B68BA!important;
  border: none;
  top:-11px;
}
/*.ui-slider-float .ui-slider-tip, .ui-slider-float .ui-slider-tip-label{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -14px;
  top: -20px;
  width: 28px;
  height: 28px;
  transform: scale(0.4) translate3d(0px, 70px, 0px);
  border-radius: 28px;
  transition: all 0.2s ease-in-out;
}*/
/*.ui-slider-float .ui-slider-tip:after, .ui-slider-float .ui-slider-tip-label:after{
  position: absolute;
  content: '';
  left: 0px;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  opacity: 0;
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
  transition: all 0.2s ease-in-out;
}*/
.ui-slider-float .ui-slider-tip, .ui-slider-float .ui-slider-tip-label {
  position: absolute;
  visibility: hidden;
  top: -49px;
  display: block;
   width: auto;
  left: 50%;
   height: auto;
  background: #6B68BA;
  font-size: 14px;
  color: #fff;
  padding:5px;
  border:1px solid #6B68BA;
}
.ui-slider-float .ui-slider-handle:hover .ui-slider-tip, .ui-slider-float .ui-slider-handle.ui-state-hover .ui-slider-tip, .ui-slider-float .ui-slider-handle:focus .ui-slider-tip, .ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip, .ui-slider-float .ui-slider-handle.ui-state-active .ui-slider-tip, .ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label{
  top:-34px;
}
.ui-slider-float .ui-slider-tip:after, .ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
  border-top-color: #6B68BA;
}
#bottom-section{
  width:100%;
  float:left;
}
#bottom-section .values-div {
  width: 50%;
  float: left;
}
#bottom-section .pie-div {
  width: 50%;
  float: left;
}
/*end detail page css*/
